.DashboardPage {
    
}

.DashboardPage-list {
  text-decoration: none;
}

.Dashboard-toolbar {
  background: #4A148C;
  color: white;
}

.Dashboard-toolbar a {
  padding: 0 1rem 0 0;
}

.Dashboard-toolbar span{
  color: white;
}