.DashboardPage li {
  list-style: none;
}

.DashboardPage-list-link {
  width: 100%;
}

.DashboardPage-list {
  text-decoration: none;
}

.deleteIcon {
  color: #ba000d;
  cursor: pointer;
  padding-right: 1rem;
}