.LoginPage {
  background: #4A148C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Loginpage h2 {
  font-size: 2.5rem;
  margin: 0.75rem;
}

.pw-link {
  text-decoration: none;
  text-align: right;
  font-size: 0.75rem;
}

.input-wrapper {
  background: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 25rem;
  padding: 1rem 2rem 2rem 2rem;
}

.input-wrapper-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin: 0.75rem 0 !important;
}

.input-button {
  margin: 1rem 0 0 0 !important;
}