.TodoListPage-add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.TodoListPage-add-icon {
  padding: 0 1rem;
  width: 10%;
  align-self: flex-end;
}

.TodoListPage-add-input {
  width: 80%
}

.TodoListPage-form {
  width: 100%;
}